body, html {
    margin:0;
    padding:0;
    line-height: 1.5em;
   min-height: 100%;
    min-width: 100%;
}
* {
    box-sizing: inherit;
}

.red {
    -webkit-text-fill-color: black;
}
  

.header {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr;

    height: 100vh;

 

   backdrop-filter: blur(7px);
   -webkit-backdrop-filter: blur(7px);
}



.flexcont {
    display: flex;
    align-self: center;
    justify-self: center;

}

.blurry {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.maincontainer {
    width: 85vw;
    height: 84vh;
    border: 2px solid rgb(96, 96, 96, 0.4);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 10fr;
    overflow: hidden;


    padding: 0rem
}

.todoheader {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 1/1;
    grid-column: 1/-1;
    background-color: rgb(175, 208, 169, 0.4);
    border-radius: 20px 20px 0px 0px;

padding: 1rem;
   background-size: cover;

text-align: center;

    }

    .todoheadertext {
        flex-basis: 50%;
        display: inline-block;
     font-family: Cambria, Cochin, Times, serif;
     font-weight: normal;
        font-size: 1.5rem;
        margin: 0;
 
    }
.columns {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    padding-left: 1rem;
    align-items: center;
}
    .columns > * {
margin: 0;
    }

    .todologo {
     
        border-radius: 20px;
        width: 80%;
        
        align-self: center;
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
 
    }

    .todoheaderimage {
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;

    }

.projectsection {

    grid-row: 2;
    grid-column: 1/1;
    padding: 1rem;
       height: auto;
display: flex;
flex-flow: column;



}

.projectcontent {
    border-radius: 12px;
    background-color: rgb(206, 222, 210, 0.4);

height: auto;
min-height: 70vh;
    display: flex;
    flex-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 40px 1fr auto;
    font-family: monospace;
    
}

.projectbartitle {
    text-align: center;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0;
    margin-bottom: .5rem;
padding: 0;
}


.defaultprojects {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-height: 30vh;
    padding: 20px;
    color: black;
}

.defaultproject {
    background-color: transparent;
    border: none;
    text-align: left;
height: min-content;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.4rem;
    justify-self: start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.defaultproject:hover {
    background-color: rgb(128, 128, 128, 0.2);
    border-radius: 20px;

    

}

.customprojecttitle:hover {
    background-color: rgb(128, 128, 128, 0.2);
    border-radius: 20px;
}



.projectline {

height: auto;

}
.box {
    width: 100%;
    
}



.line {
    background-color: rgba(93, 93, 93, 0.5);

    width: 85%;
    height: 5px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 1rem;

}

.customprojects {

overflow-y: auto;
max-height: 25vh;
min-height: 35vh;
font-size: 1.4rem;


}

.customprojecttitle {
    background-color: transparent;
    border: none;
    text-align: left;
height: min-content;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 1.4rem;
    justify-self: start;
    display: block;
    width: 100%;
}

.plusimage {
    flex-grow: 2;

}


.plusbutton {
    width: 5rem;
    height: 5rem;
    justify-self: end;

}

.large {

    flex-grow: 0;
    flex-shrink: 0; 
    padding: 1rem;
  height: auto;
}

.quickinfo {

    border-radius: 12px;
    display: flex;
    justify-content: space-between;
 

  align-items: flex-start;
 padding: .4rem;
height: auto;
    font-size: 1.3rem;
width: auto;
}

.todoinfo {
    width: 100%;
    height: 100%;
overflow: hidden;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
}

#description {
    line-height: 1;
    resize: vertical;
    max-height: 12rem;
    width: 90%;
}

#title {
    width: 90%;
    line-height: 2;
}

#date {
    line-height: 2;
    width: 90%;
}


.todosection {
   
    overflow: auto;
    grid-row: 2;
    grid-column: 2/2;
display: flex;
flex-flow: column;


grid-template-rows: repeat(auto-fill, minmax(2rem, 3fr));

gap: 2rem;
    padding: 1rem;
    min-height: auto;
   
    border-radius: 20px;
    font-size: 2rem;
}

.todocontent {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(1, 1fr);

background-color: #dbe1df;
flex-grow: 0;
border-radius: 10px;
}

.expandbutton {
    width: 1.8rem;
    height: 1.8rem;
}

.datebutton {
    width: auto !important;

    border: none;
    background-color: transparent;
    border: 1px dashed black;

}
 
.todotitleline {
    display: inline;
    margin-bottom: 0;
padding: 0;
}

.buttoncontainer {
    display: flex;



min-width: 16rem;
justify-items: start;
gap: .3rem;

}

.complete {
    background-color: lightgreen;
    border-radius: 10px;
}

.deletewhendone {
    flex-grow: 1;
    background-color: rgba(255, 0, 0, 0.4);
   
   
}


.prioritywrapperhigh, .prioritywrapperlow, .prioritywrappermed {
    flex-shrink: 0;
}

.buttoncontainer > * {
    display: inline;
    justify-self: center;
}

.todotitles {
margin: 0;
padding: 0;
}

.todobutton, .prioritytodobutton {
    flex-shrink: 0;
    display: inline-block;
    align-self: center;
    justify-self: stretch;
  max-width: 12.4rem;
    width: 1.6rem;
    height: 1.6rem;
    font-size: .8rem;
  

}
.todobutton, .todocheckbox {

}

.todobutton:not(:last-of-type) {

}

.footer {
    text-align: center;
}

.bighide {
    display: none;
}

.modal {

width: 100%;
height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    visibility: hidden;
    position: absolute;
    opacity: 1;
    

    transition: visibility 0s linear 0s, opacity .25s 0s, transform .25s;
 
}

.closebutton {
    text-align: center;
    font-size: 2rem;
    border-radius: 12px;
    background-color: light;
    width: 3rem;
    margin-bottom: 10px;
 
    justify-self: end;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
  
}

.modalback {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    visibility: visible;
}

.modal-content {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10fr;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 60%;
    height: 60%;
border-radius: 30px;
box-sizing: border-box;
padding: 2rem;

z-index: 1;

}

.ghost {
    opacity: 0.5;
}

.dateinput {
width: 149px;
}

.inputcontainer {
 padding: 10%;
 padding-top: 0
 ;
    font-family: monospace;
    font-size: 1rem;
    


}

.flexforlabel > input, .flexforlabel > select {
margin-top: 8px;
}

.flexforlabel > select {
    width: 149px;
    background-color: white;
}
 

.project {
    padding: 0 3rem 0 3rem;
    height: 89.35%;
    
}



.projflex > input {
  
}

.hide {
    display: none;
    visibility: hidden;
}

.projectform {
    
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;
}

.redback {
    background-color: rgb(255, 0, 0, 0.16);
  
    border-radius: 20px;
}

input.redback {
    border-radius: 0px;
}

.todoform {

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
height: 100%;
width: 100%;
max-width: 100%;
}

.todoform > input, .todoform > textarea {
 
}


.todoform > label {
    font-size: 1.5rem;
    margin: 20px;
}

.submittodo {
    height: min-content;
    

    border-radius: 8px;
    grid-column: 2;
    justify-self: left;
    padding: .5rem;

}
.cancelsubmit {
    
    justify-self: left;
    grid-column: 1;
    grid-row: 4;
    padding: 0.5rem;
    border-radius: 8px;
    text-align: center;
    align-self: flex-start;
}

.todoform > input {
    border-radius: 5px;
    align-self: center;
}



.projflex {
    display: flex;
    justify-content: space-evenly;
    font-family: monospace;
    font-size: 1.2rem;
    align-items: center;

}


.titleinputbar {
    width: 100%;
    
    margin-bottom: .5rem;
    height: 2.5rem;
    font-size: 1.0rem;
}



.inputgrid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(auto, 1fr);

}

.todoflex {
    border: 2px solid rebeccapurple;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    
height: 8rem;
    width: 90%;
}



.project {

display: flex;
flex-flow: column;
justify-content: space-between;

}
 .project > input {
    align-self: flex-start;
 }



.createnewheading {
    margin: 0;
    margin-bottom: 1.5rem;
    align-self: center;
    font-size: 2rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.changebg {
    background-color: rgb(128, 128, 128, 0.7);
   
}

.todoselect, .projectselect {
    margin: 0;
    align-self: center;
    margin-bottom: 20px;
    width: auto;
    height: auto;
padding: 10px;
    font-size: 1.4rem;
}
.prioritybox
{
    display: flex;
    justify-content: space-between;
    width: 149px;
    font-weight: bold;
}

.prioritywrapperlow {
    background-color: rgb(0, 128, 0, 0.2);
    display: inline;
}

.prioritywrappermed {
    background-color: rgba(255, 255, 0, 0.2);
    display: inline;
}

.prioritywrapperhigh {
    background-color: rgb(255, 0, 0, 0.5);
    display: inline;
}


.closebuttonbox {
    display: flex;
    justify-content: space-between;
}

.createnewbox {
    display: flex;
    justify-content: space-evenly;
}

.flexforlabel > label, .flexforlabel > input {
margin-bottom: 5px;
}

.flexforlabel {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
 
   
}

.submitbutton, .projectsubmit {
margin-top: 20px;
display: inline;
width: 5rem;
height: 4rem;

}

.projectbuttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    padding: 0px 20px 0px 20px;
}

.todocheckbox {

  flex-basis: 1.4rem;

margin-top: 0;
margin-bottom: 0;
margin-left: 0;
flex-shrink: 0;
 
}

.prioritywrapperhigh { 
    flex-shrink: 2;
}

.customprojecttitle {

}

.deleteprojectbutton {

    
}

.submitcontainer {
display: flex;
justify-content: center;
}
    
.bigbar
{
    width: 60%;
    height: 2rem;
    font-size: 1.2rem;
}

.titlesection {
    width: 50%;
    overflow: hidden;
    margin-bottom: 0;
}

.timeheader {
    
    font-size: 1.6rem;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.projecttitlelabel {
    font-size: 1.8rem;
   }

   @media screen and (max-width: 900px) {
    
.maincontainer {
  
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    overflow-y: auto;
    border: none;
}

.todoheader {
    border-radius: 0;
}

.flexcont {
    border-radius: 0;
}

.customprojects {}

#date {
    width: 100%;
}
    
   }

@media screen and (max-width: 800px) {

    
  .timeheader {
    font-size: 1.2rem;
    margin-right: 3rem;
  }



.buttoncontainer {
justify-content: start;

}

.titlesection {
    margin-bottom: 0rem;
}

.todoinfo {

    padding: 0rem;

}



.todoform > input {
    align-self: stretch
};


.maincontainer {
  
    width: 100vw;
    height: 100vh;
    grid-template-columns: minmax(120px, .8fr) 2fr;
    grid-template-rows: auto 1fr;
    
}

body {

}

#date {
width: 100%;
max-width: 100%;
}

.todologo {
grid-column: 1/3;
width: 100%;
}

.todoheader {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

body {

}

.inputcontainer {
    padding: 0;
    margin: 0px;
    padding: 5%;

    
   
   
   }

   .todoheader {
    display: flex;
  }




   .todobutton, .prioritytodobutton {
display: block;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;


}

#description {
    line-height: 1.5;
  
}



   .todoflex {
    height: 30vh;

    
}
.todoform > label {
    font-size: 1.5rem;
}


.large {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: scroll;
    padding: 0;


}

   .flexforlabel {
    font-size: .8rem;

   }

   
   .todoform {

    display: flex;
    flex-flow: column;
  

}

.todoform > label {
    margin: 0;
    font-size: 1rem;
}


   .projecttitlelabel {
    font-size: 1rem;
   }

   .project > label {
 
   }
   
.project {
    padding: 0px;
    margin: 0px;
    padding: 5%;

    
   
   
   }

.defaultproject {
    font-size: 1.1rem;
}




.projectbartitle {
    font-size: 1.1rem;
}

.todosection {
    padding: 0px .5rem 0px .5rem;
    margin-top: 0px;

}

.projectsection {
    padding: 0;

}

.projectcontent {
    height: 100%;
}

.maincontainer {
    padding: 0px;
}

.todotitles {
    margin-bottom: 0;
}

.customprojects {

 
    min-height: 38vh;
    max-height: 38vh;
    }

    .customprojecttitle {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .quickinfo {
        font-size: 1.4rem;
    }



    .plusbutton {
        width: 4rem;
        height: 4rem;
  
    
    }



.header {
    display: none;
}
.footer {
    display: none;
}




.modal-content {
   
border-radius: 0;
    width: 95%;
    height: 95%;
 

}

.closebutton {
   
}
    
    }

    @media screen and (max-width: 650px) {
        .quickinfo {
            flex-flow: column;
           align-items: baseline;

        }


        .titlesection {
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
    }


    
    @media screen and (max-width: 450px) {

        .modal-content {
            padding: 2rem;
        }
        .inputcontainer {
            padding: 0;
        }
        .timeheader {
   
            font-size: 1rem;
           
        }

        .columns {
            grid-column: 2;
         
       align-self: center;
        }

        .todoheadertext {
            font-size: 1.2rem;
          }
        
.maincontainer {


}

.projectsection {

}

.buttoncontainer {
padding: 0;
}
.customprojecttitle   {


    display: flex;



}

button.customprojecttitle {
    flex-flow: column;
    flex-wrap: wrap;
    font-size: 1rem;
}




.projectbuttons {
    box-sizing: border-box;
    flex-flow: row;
padding: 2px;

}

.deleteprojectbutton {
    align-self: flex-end;
}

    }